TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse
}
TD {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-COLLAPSE: collapse
}
TABLE {
	BORDER-RIGHT: #ccc 1px solid; BORDER-TOP: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid
}
THEAD TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; PADDING-TOP: 5px
}
TBODY TH {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ccc 1px solid; COLOR: #666; PADDING-TOP: 5px
}
TBODY TH {
	BORDER-TOP: #ccc 1px solid; FONT-WEIGHT: normal; BACKGROUND: #fafafb; TEXT-ALIGN: left
}
TBODY TR TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; COLOR: #666; PADDING-TOP: 5px
}
TBODY TR:hover {
	
}
TBODY TR:hover TD {
	COLOR: #454545
}
TFOOT TD {
	PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: medium none; COLOR: #666; PADDING-TOP: 4px
}
TFOOT TH {
	PADDING-RIGHT: 4px; BORDER-TOP: #ccc 1px solid; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: medium none; COLOR: #666; PADDING-TOP: 4px
}
BODY {

	FONT-WEIGHT: normal; FONT-SIZE: 12px; MARGIN: 2em; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff ; 
	/* padding-left:210px ;  */
 margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
/* position:relative; */
	/* margin-top:0px; */

}

#menu {
  position: absolute;
  left: 5px;
  padding: 10px;
  width: 230px;
	border:#ccc 1px solid;
  border-width:0px;
}
#w3c_valid {
  position: absolute;
  left: 5px;
  padding: 10px;
  width: 150px;
  margin-top: 450px;

}

#content {
  margin: 15px 15px 15px 15px;
  margin-left: 260px;
	/* margin-left: 260px; */
	padding: 20px;
  margin-right: 15px;

	border:#ccc 1px solid;
  border-width:0px;
  border-left-width: 1px;
}





.body_navigate {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #808080
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #008000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.h1_navigate {
	FONT-WEIGHT: bold; FONT-SIZE: 20px; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #008000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #008000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
P {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0000ff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline overline
}
A:visited {
	COLOR: #000040; TEXT-DECORATION: underline
}
.faq {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #008000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.a_faq_index {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: right
}
.h_download {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #008000; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.lotis {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 18px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.navcell {
	PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.newsheader {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5f7797
}
.newscell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 9px; COLOR: #464c64; LINE-HEIGHT: 10px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a7aeb8
}
.impressumheader {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5f7797
}
.impressumcell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 9px; COLOR: #464c64; LINE-HEIGHT: 10px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a7aeb8
}
.textheader {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #e9f2fc; LINE-HEIGHT: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5f7797
}
.textcell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 9px; COLOR: #464c64; LINE-HEIGHT: 16px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a7aeb8
}
.linksheader {
	PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #5f7797
}
.linkscell {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 9px; COLOR: #464c64; LINE-HEIGHT: 10px; PADDING-TOP: 7px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #a7aeb8
}
.update {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #e9f2fc; LINE-HEIGHT: 14px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.copyright {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #464c64; LINE-HEIGHT: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
