body {
	background: rgb(191,233,255); /* Old browsers */
	background-color: rgba(0,0,0,0);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	margin:0px 0px;
	padding:0px 0px;
	text-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}



table{
	margin-top:0px;
	width: 100%;
}
tr{
	width: 100%;
}


#inputLanguageComboBox{
	width: 95%;
	border:3px solid #d0d0d0;
	float:left;
}
#outputLanguageComboBox{
	width: 95%;
	border:3px solid #d0d0d0;
	float:left;
}
#searchHitsComboBox{
	width: 95%;
	border:3px solid #d0d0d0;
	float:left;
}



#appStatus{
	display: block;
	margin-top:2px;
	margin-left:5px;
	width:37%;
	float:left;
	font-size:13px;
}
#applicationCacheStatus{
	display: block;
	margin-top:2px;
	margin-left:2px;
	width:61%;
	float:left;
	font-size:13px;
}
#appEvents{
	display: block;
	margin-top:2px;
	margin-left:2px;
	width:36%;
	float:left;
	font-size:13px;
}
#receivedApplicationCacheEvents{
	display: block;
	margin-top:2px;
	margin-left:2px;
	width:62%;
	float:left;
	font-size:13px;
}