html {
	height: 100%;
}


	
body {
  background: rgb(191,233,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(191,233,255,1) 0%, rgba(60,190,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,233,255,1)), color-stop(100%,rgba(60,190,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(191,233,255,1) 0%,rgba(60,190,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(191,233,255,1) 0%,rgba(60,190,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(191,233,255,1) 0%,rgba(60,190,255,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(191,233,255,1) 0%,rgba(60,190,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfe9ff', endColorstr='#00a9ff',GradientType=0 ); /* IE6-9 */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0px 0px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:15px;
  height: 98.2%;
  width: 99%;
  margin:0px 0px;
  padding:5px 5px;
}



h2{
	margin:15px 0px;
}



td.headerStyle {
   color:#ffffff;
   text-align:middle;
   font-weight:bold; 
   background-color:#ff4444;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   -webkit-box-shadow: 0 8px 6px -6px black;
   moz-box-shadow: 0 8px 6px -6px black;
   box-shadow: 0 8px 6px -6px black;
}
td.optionbuttonStyle {
   color:#ffffff;
   font-weight:bold; 
   background-color:#66cc00;
   font-family: Verdana, Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0 8px 6px -6px black;
	moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
td.inputbackStyle {
   color:#ffffff;
   font-weight:bold; 
   background-color:#00aaff;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   -webkit-box-shadow: 0 8px 6px -6px black;
   moz-box-shadow: 0 8px 6px -6px black;
   box-shadow: 0 8px 6px -6px black;
}
td.translatebuttonStyle {
   color:#ffffff;
   font-weight:bold; 
   background-color:#ffbb00;
   font-family: Verdana, Arial, Helvetica, sans-serif;
   padding:22px; 
	-webkit-box-shadow: 0 8px 6px -6px black;
	moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}



::-webkit-input-placeholder {
  color: 00aaff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: 00aaff;
}
:-ms-input-placeholder {
  color: 00aaff;
}
:-moz-placeholder { /* Firefox 18- */
  color: 00aaff;
}



input.inputboxStyle{
   width:84%;
   height: 61%;
   border:3px solid #dadada;
   font-size:20px;
   padding:4px;
}
input.inputboxStyle:focus { 
   outline:none;
   border-color:#9ecaed;
}




#optionStyle{
	margin-bottom:0px;
	margin-left:5px;
	display: block;
	height:56px;
	width:98.5%;
	overflow: auto;
}
#optionStyle::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.15);
	border-radius: 0px;
	background-color: #d0d0d0;
}
#optionStyle::-webkit-scrollbar{
	width: 3px;
	background-color: #d0d0d0;
}
#optionStyle::-webkit-scrollbar-thumb{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.1);
	background-color: #00aaff;
}





#resultFrame{
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
	display: block;
	height: 69%;
	width: 99%;
	overflow: auto;
}
#resultFrame::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.15);
	border-radius: 0px;
	background-color: #d0d0d0;
}
#resultFrame::-webkit-scrollbar{
	width: 3px;
	background-color: #d0d0d0;
}
#resultFrame::-webkit-scrollbar-thumb{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 2px rgba(255,255,255,0.1);
	background-color: #00aaff;
}





#footerFrame{
	clear:both;
	color:#000000;
	background-color:rgba(255,255,0,0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbffff00', endColorstr='#bbffff00',GradientType=0 ); /* IE6-9 */
	font-weight:bold; 
	text-align:right;
	height: 40px;   
	left: 10px;
	line-height: 40px;
	overflow: visible;
	position: fixed;
	bottom: 10px;
	clear: both;
	display: block;
	width: 98%;
	z-index: 4;
    font-size:12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
	-webkit-box-shadow: 0 8px 6px -6px black;
	moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
